<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block pageTitle %}{% endblock %}</title>
  <meta name="description" content="{% block pageDescription %}{% endblock %}">
  <meta property="og:title" content="{% block pageTitle %}{% endblock %}">
  <meta property="og:description" content="{% block pageDescription %}{% endblock %}">
  <meta property="og:image" content="images/Media.png">
  <meta property="og:url" content="https://ivs.id.vn">
  <meta property="og:type" content="website">
  <link rel="icon" href="images/Media.png" type="image/x-icon">
  <link rel="stylesheet" href="website/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <!-- Header -->
  <div id="header"></div>

  <!-- Main content -->
  <main>
    {% block pageContent %}{% endblock %}
  </main>

  <!-- Footer -->
  <div id="footer"></div>

  <!-- JavaScript -->
  <script src="static/js/scripts.js"></script>
</body>
</html>
