<header>
  <button class="hamburger">☰</button>
  <div class="nav-menu">
    <div class="nav-menu-header">
      <button class="close-menu">✖</button>
      <span>Menu</span>
    </div>
    <ul class="nav-tabs">
      <li><a href="templates/index.html"><i class="fas fa-home"></i> TRANG CHỦ</a></li>
      <li class="dropdown">
        <a href="templates/subpages/pages/about.html"><i class="fas fa-info-circle"></i> VỀ CHÚNG TÔI</a>
        <ul class="dropdown-menu">
          <li><a href="templates/subpages/pages/ivsmeaning.html">Ý NGHĨA IVS</a></li>
          <li><a href="templates/subpages/pages/sumenh.html">SỨ MỆNH</a></li>
          <li><a href="templates/subpages/pages/doingu.html">ĐỘI NGŨ</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="templates/subpages/pages/lien-ket-quoc-te.html"><i class="fas fa-info-circle"></i> HỢP TÁC QUỐC TẾ</a>
        <ul class="dropdown-menu">
          <li><a href="templates/subpages/pages/hocbong.html">HỌC BỔNG DU HỌC</a></li>
          <li><a href="templates/subpages/pages/summercamp.html">TRẠI HÈ QUỐC TẾ</a></li>
          <li><a href="templates/subpages/pages/lienketdaotao.html">LIÊN KẾT ĐÀO </a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="templates/subpages/pages/hop-tac-dau-tu.html"><i class="fas fa-handshake"></i> ĐÂU TƯ - LIÊN KẾT</a>
        <ul class="dropdown-menu">
          <li><a href="templates/subpages/pages/co-hoi-dau-tu.html">CƠ HỘI ĐẦU TƯ</a></li>
          <li><a href="templates/subpages/pages/doi-tac.html">ĐỐI TÁC ĐỒNG HÀNH</a></li>
          <li><a href="templates/subpages/pages/tai-tro.html"> TÀI TRỢ - PHI LỢI NHUẬN</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="templates/subpages/pages/tuvangiaoduc.html"><i class="fas fa-chalkboard-teacher"></i> TƯ VẤN GIÁO DỤC</a>
        <ul class="dropdown-menu">
          <li><a href="templates/subpages/pages/thanhlap-ttnn.html">THÀNH LẬP TRUNG TÂM</a></li>  
        </ul>
      </li>
      <li><a href="templates/subpages/pages/career.html"><i class="fas fa-briefcase"></i> TUYỂN DỤNG</a></li>
      <li><a href="https://english-placement.netlify.app"><i class="fas fa-clipboard-check"></i> BÀI TEST TIẾNG ANH 6 BẬC</a></li>
    </ul>
  </div>
  <div class="header-top">
    <img src="static/images/logo.png" alt="IVS Academy Logo">
    <div class="header-text">
      <h1>IVS Academy</h1>
      <h3>Trung tâm Ngoại ngữ & Kỹ năng sống</h3>
      <h3>Hợp tác Quốc tế - Học bổng Du học</h3>
    </div>
  </div>
  <div class="nav-container">
    <div class="nav-content">
      <ul class="nav-tabs">
        <li><a href="templates/index.html">TRANG CHỦ</a></li>
        <li class="dropdown">
          <a href="templates/subpages/pages/about.html">VỀ CHÚNG TÔI</a>
          <ul class="dropdown-menu">
            <li><a href="templates/subpages/pages/ivsmeaning.html">Ý NGHĨA IVS</a></li>
            <li><a href="templates/subpages/pages/sumenh.html">SỨ MỆNH</a></li>
            <li><a href="templates/subpages/pages/doingu.html">ĐỘI NGŨ</a></li>
          </ul>
        </li>
        <li><a href="templates/subpages/pages/lien-ket-quoc-te.html">LIÊN KẾT QUỐC TẾ</a></li>
        <li><a href="templates/subpages/pages/hocbong.html">HỌC BỔNG</a></li>
        <li><a href="templates/subpages/pages/summercamp.html">TRẠI HÈ</a></li>
        <li><a href="templates/subpages/pages/lienketdaotao.html">LIÊN KẾT ĐÀO TẠO</a></li>
        <li><a href="templates/subpages/pages/hop-tac-dau-tu.html">HỢP TÁC ĐẦU TƯ</a></li>
        <li><a href="templates/subpages/pages/tuvangiaoduc.html">TƯ VẤN GIÁO DỤC</a></li>
        <li><a href="templates/subpages/pages/career.html">TUYỂN DỤNG</a></li>
      </ul>
      <a href="https://english-placement.netlify.app/" class="consult-btn">TEST TIẾNG ANH 6 BẬC</a>
    </div>
  </div>
</header>
